@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
body {
    background: #141517;
    /* font-family: 'hurmeSemiBold'; */
    margin: 0%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

html,
body {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1vw 4vw 0 4vw;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 2rem;
}

a {
    text-decoration: none;
}

ul li a {
    color: #fff;
    font-weight: 400;
}

.landing {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
}

.landing {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: 100% 93.5%;
}

.main {
    display: flex;
    justify-content: space-between
}

.UI {
    width: 75vw;
    position: absolute;
    z-index: -1;
    right: -15rem;
}

.text {
    color: #fff;
}

@media(max-width:630px) {
    .landing {
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
        background-image: url(assets/groupBG.png);
        background-repeat: no-repeat;
        background-size: 100vw 40vw;
        /* background-position: bottom; */
    }
}

@media(max-width:767px) {
    .landing {
        max-width: 100vw;
        height: 100vh;
    }
}

.logo_and_text {
    display: flex;
    color: #fff;
    justify-content: space-around;
}

.logo {
    margin: 0 1vw;
}

.dashboardbtn {
    border-radius: 28.5px;
    border: #FF7523 2px solid;
    outline: none;
    padding: 0.5rem 3rem;
    font-size: 18px;
    color: #ffffff;
    transition: all .3s ease-in;
}

.dashboardbtn:hover {
    color: #9fa2aa;
}

.qnatab-a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #1e1f22;
    padding: 0 1rem;
    height: 40px;
    min-width: 70px;
    color: white;
}

.qnatab-menu ul li div {
    cursor: pointer;
}

.qnatab-1 {
    border-radius: 50px 0px 0px 50px;
}

.qnatab-2 {
    border-radius: 0px 50px 50px 0px;
}

.qnatab-container {
    margin-top: 10vh;
}

.qnatab-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.qnatab-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    margin-bottom: 7rem;
}

.qnatab-menu ul li div.active-a {
    background-color: #26282D;
}

.qnatab {
    display: none;
}

.qnatab-active {
    display: block;
}


/* photo and list inside tab */

.feature_image1 {
    margin-top: -220px;
    margin-left: 0;
    margin-right: auto;
    z-index: -1;
}

.feature_image2 {
    margin-top: -220px;
    margin-left: auto;
    margin-right: 0;
    z-index: -1;
}

.feature_img1 {
    width: 50vw;
    display: flex;
}

.feature_img2 {
    width: 50vw;
    display: flex;
}

.feature_subsection {
    display: flex;
    justify-content: space-between;
}

.text_region1 {
    margin-right: 10vw;
    width: 30vw;
    max-height: 300px;
    color: #fff;
    border: rgba(196, 191, 191, 0.171) 2px solid;
    border-radius: 15px;
    padding: 2rem;
}

.text_region2 {
    margin-left: 10vw;
    width: 30vw;
    max-height: 300px;
    color: #fff;
    border: rgba(196, 191, 191, 0.171) 2px solid;
    border-radius: 15px;
    padding: 2rem;
}

.text_region1 ul {
    display: inline-block;
    padding-inline-start: 0;
}

.text_region2 ul {
    display: inline-block;
    padding-inline-start: 0;
}

.text_region1 ul li {
    list-style-Type: none;
    padding: 0 0 4px 23px;
    background: url(/assets/img/Oval.png) no-repeat left center;
    margin-bottom: 1rem;
    color: #9197A4;
}

.text_region2 ul li {
    list-style-Type: none;
    padding: 0 0 4px 23px;
    background: url(/assets/img/Oval.png) no-repeat left center;
    margin-bottom: 1rem;
    color: #9197A4;
}

@media(max-width:767px) {
    .feature_subsection {
        display: flex;
        flex-direction: column;
    }
    .feature_img1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    .feature_img2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    #alt {
        margin: 0px;
    }
    .feature_image1 {
        max-width: 80vw;
    }
    .feature_image2 {
        max-width: 80vw;
    }
}


/* mobile navbar code  */

.mobnav {
    display: none;
}

.mobnav ul li {
    margin: 0px;
}

@media(max-width:767px) {
    nav {
        display: none;
    }
    .mobnav {
        position: absolute;
        left: 0;
        width: 100%;
    }
    .mobnav {
        height: 70px;
        display: flex;
    }
    .mobnav .logo {
        position: absolute;
        margin-top: 4vh;
        margin-left: 3vh;
    }
    .details {
        margin-top: 20%;
    }
    .movnav {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        -webkit-transition: all 0.5s ease-out, background 1s ease-out;
        transition: all 0.5s ease-out, background 1s ease-out;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
        z-index: 1;
    }
    .mobnav .burger-container {
        position: absolute;
        right: 1rem;
        display: inline-block;
        height: 50px;
        width: 50px;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    .mobnav .burger-container #burger {
        width: 24px;
        height: 8px;
        position: relative;
        display: block;
        margin: -4px auto 0;
        top: 80%;
    }
    .mobnav .burger-container #burger .bar {
        width: 100%;
        height: 1px;
        display: block;
        position: relative;
        background: #fff;
        -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .mobnav .burger-container #burger .bar.topBar {
        -webkit-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
    }
    .mobnav .burger-container #burger .bar.btmBar {
        -webkit-transform: translateY(6px) rotate(0deg);
        transform: translateY(6px) rotate(0deg);
    }
    .mobnav .icon {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .mobnav .icon.icon-bag {
        right: 0;
        top: 0;
        left: auto;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transition-delay: 0.65s;
        transition-delay: 0.65s;
    }
    .mobnav ul.menu {
        margin: auto 0px;
        position: relative;
        padding: 0px 24px;
        list-style: none;
        z-index: -1;
        transform: translateX(-770px);
        width: 100vw;
        text-align: center;
    }
    .visible {
        z-index: 1 !important;
        display: block !important;
        transform: translateX(0px) !important;
    }
    .menu .login {
        box-shadow: none;
    }
    .mobnav ul.menu li.menu-item {
        margin-top: 5px;
        -webkit-transform: scale(1.15) translateY(-30px);
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }
    .mobnav ul.menu li.menu-item:nth-child(1) {
        -webkit-transition-delay: 0.49s;
        transition-delay: 0.49s;
    }
    .mobnav ul.menu li.menu-item:nth-child(2) {
        -webkit-transition-delay: 0.42s;
        transition-delay: 0.42s;
    }
    .mobnav ul.menu li.menu-item:nth-child(3) {
        -webkit-transition-delay: 0.35s;
        transition-delay: 0.35s;
    }
    .mobnav ul.menu li.menu-item:nth-child(4) {
        -webkit-transition-delay: 0.28s;
        transition-delay: 0.28s;
    }
    .mobnav ul.menu li.menu-item:nth-child(5) {
        -webkit-transition-delay: 0.21s;
        transition-delay: 0.21s;
    }
    .mobnav ul.menu li.menu-item:nth-child(6) {
        -webkit-transition-delay: 0.14s;
        transition-delay: 0.14s;
    }
    .mobnav ul.menu li.menu-item:nth-child(7) {
        -webkit-transition-delay: 0.07s;
        transition-delay: 0.07s;
    }
    .mobnav ul.menu li.menu-item a {
        display: block;
        position: relative;
        color: #fff;
        font-weight: 100;
        text-decoration: none;
        font-size: 22px;
        line-height: 2.35;
        font-weight: 200;
        width: 100%;
    }
    .mobnav.menu-opened {
        height: 100vh;
        position: fixed;
        background-color: black;
        -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s;
        z-index: 100;
    }
    .mobnav.menu-opened .burger-container {
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .mobnav.menu-opened .burger-container #burger .bar {
        -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .mobnav.menu-opened .burger-container #burger .bar.topBar {
        -webkit-transform: translateY(4px) rotate(45deg);
        transform: translateY(4px) rotate(45deg);
        margin-left: 1rem;
    }
    .mobnav.menu-opened .burger-container #burger .bar.btmBar {
        -webkit-transform: translateY(3px) rotate(-45deg);
        transform: translateY(3px) rotate(-45deg);
        margin-left: 1rem;
    }
    .mobnav.menu-opened ul.menu li.menu-item {
        -webkit-transform: scale(1) translateY(0px);
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(1) {
        -webkit-transition-delay: 0.27s;
        transition-delay: 0.27s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(2) {
        -webkit-transition-delay: 0.34s;
        transition-delay: 0.34s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(3) {
        -webkit-transition-delay: 0.41s;
        transition-delay: 0.41s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(4) {
        -webkit-transition-delay: 0.48s;
        transition-delay: 0.48s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(5) {
        -webkit-transition-delay: 0.55s;
        transition-delay: 0.55s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(6) {
        -webkit-transition-delay: 0.62s;
        transition-delay: 0.62s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(7) {
        -webkit-transition-delay: 0.69s;
        transition-delay: 0.69s;
    }
    .mobnav.menu-opened .icon.icon-bag {
        -webkit-transform: translateX(75px);
        transform: translateX(75px);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
}