/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background: #141517;
    /* font-family: 'hurmeSemiBold'; */
    margin: 0%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

html,
body {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1vw 4vw 0 4vw;
    align-items: center;
}
.landing_with_bg{
    margin-top:1vw;
}
ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 2rem;
}

a {
    text-decoration: none;
}

ul li a {
    color: #fff;
    font-weight: 600;
}

.landing {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
}

.landing {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: 100% 93.5%;
}

.landing {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    padding: 3% 0 0 0;
    height: 70vh;
    /*margin-bottom: 14vw;*/
}

.text_region::before {
    content: '';
    background: url('./assets/Fill1.svg') no-repeat;
    position: absolute;
    background-size: contain;
    top: 0px;
    left: 0px;
    width: 25vw;
    height: 25vh;
    z-index: -1;
}

.landing::before {
    content: '';
    background: url(./assets/Fill2.svg) no-repeat;
    position: absolute;
    background-size: contain;
    left: 0px;
    width: 31vw;
    /* bottom: 39vw; */
    height: 65vh;
    /* margin-bottom: 304vw; */
    z-index: -1;
}

.bg {
    opacity: 0.2;
    z-index: -5;
    /* margin-left: -17%; */
    /* margin-right: -11%; */
    margin: 0 -14%;
}
.links ul li a:hover{
    color:#a6aab1
}
.bgimg {
    height: 30vw;
    margin-top: -27%;
    margin-left: 81%;
}

.soldout_btn {
    margin-top: 10%;
    white-space: nowrap;
}

.soldout {
    background: linear-gradient(270deg, #965CFF 0%, #7D35FF 100%);
    color: aliceblue;
    padding: 2.5% 8%;
    border-radius: 60px;
    font-weight: 600;
}
.soldout:hover {
    background: linear-gradient(270deg, #7D35FF 100%,#965CFF 0%);
}
.UI {
    width: 45vw;
}

#footnote {
    padding: 1vw 0vw;
}

.primary_text {
    font-size: 3vw;
    font-weight: 900;
    color: #fff;
}

.secondary_text {
    color: #827F7F;
    font-size: 2vh;
    font-weight: 600;
    line-height: 32px;
}

.text {
    color: #fff;
}

.mobnav {
    display: none;
}
.arrow{
    display:flex;
    color:white;
    font-style: italic;
    letter-spacing: 2px;
}
.arrowTitle{
    font-weight: 900;
    margin-left:20px;
    margin-top:8px;

}

.arrowTitle > span{
    font-weight: 600;
    margin-left:5px;
    color:#9197A4;
}
.mainTitle{
    color:#7D35FF;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 900;
    font-size:2.5vw;
}
.mainTitle > span{
    font-weight: 600;
}

#tab_selector {
    font-weight: 600;
    margin-left: 20px;
}

@media(width: 1024px) and (height:1366px) {
    .feature_img1 {
        width: 90vw !important;
        display: flex;
    }
    .UI {
        width: 70vw;
    }
    .text_region1 {
        margin-right: 12vw;
        width: 50vw !important;
        font-size: 1vw;
        color: #fff;
        border: rgba(196, 191, 191, 0.171) 2px solid;
        border-radius: 15px;
        padding: 2rem;
    }
    #tab_selector {
        font-size: 2vw;
    }
    .feature_subsection {
        display: flex;
        flex-direction: column;
    }
    .FAQ_with_kutta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature_img1 {
        display: flex;
        margin: 0px;
    }
    #tab_selector {
        font-size: 2vw;
    }
    #reverse {
        flex-direction: column-reverse;
    }
    #feature_image1 {
        width: 80vw;
    }
    .feature_img2 {
        display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 90vw !important;
    /* align-self: center; */
    margin: 0px;
    align-self: flex-end;
    }
    #subsection_head1 {
        font-size: 5vw !important;
    }
    #second_container {
        margin-top: 0;
    }
    .text_region1 {
        width: 50vw;
    }
    .text_region1 ul li {
        font-size: 3vw;
    }
    .landing {
        display: flex;
        flex-direction: column;
    }
    .text_region2 {
        width: 50vw !important;
    }
    #subsection_head2 {
        font-size: 5vw !important;
    }
    .ui {
        width: 100vw;
        display: flex;
        justify-content: flex-end;
    }
    .UI {
        width: 111vw;
    }
    .qnatab-a {
        padding: 5px 0.5em;
    }
    #alt {
        margin: 0px;
    }
    .feature_image1 {
        max-width: 100vw;
    }
    .feature_image2 {
        max-width: 100vw;
        width: 91vw;
    }
    .primary_text {
        font-size: 8vw;
    }
    .faqcontent {
        margin-top: 20vw;
        display: flex;
        flex-direction: column;
    }
    .text_container {
        display: flex;
        justify-content: center;
    }
    .feature_grid {
        padding: 0px;
    }
    .text_region1 {
        margin-right: 0  !important;
    }
    .text_region2 {
        width: 55vw;
        margin-left: 0;
        margin: 6vw 0vw;
    }
    #feature_image1 {
        width: 90vw; 
    }
    .text_region2 h3 {
        font-size: 6vw;
    }
    .text_region2 ul li {
        font-size: 3vw;
    }
    .landing {
        height: 90vh;
    }
    .Feature_heading {
        font-size: 2vw;
    }
    .footer {
        width: 80%;
        margin: 3rem auto;
        color: #9197A4;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: 2vw;
    }
    .feature_subsection {
        flex-direction: column;
    }
    .feature_grid {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2rem;
        padding: 0 5rem 0 5rem;
        margin-left: 0vw !important;
    }
    .feature_rectangle1{
        width: 30vw;
    }
    .feature_text {
        color: #9197A4;
    }
    #for_site{
        margin-left: 2vw !important;
    }
    .text_container{
        align-self: center;
    }
}

#grid {
    background: none;
}
.fa-twitter:before {
    content: "\f099";
    padding: 2vw;
}

@media(min-width:1030px) {
    .ui {
        width: 63vw;
        display: flex;
        justify-content: flex-end;
    }
    .logo img {
        height: 3vw;
    }
    .soldout {
        font-size: 1vw;
    }
    #footer_icon {
        height: 2vw;
    }
    .footer {
        font-size: 1vw;
    }
    .links {
        font-size: 1vw;
    }
    .clearfix {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* width: 100%; */
        /* margin: 2rem; */
    }
    .feature_image1 {
        width: 45vw;
    }
    .feature_image2 {
        width: 55vw;
    }
    .text_region2 {
        /* height: 80%; */
        margin-top: 5vw;
        padding: 5rem !important;
    }
    .text_region1 {
        /* height: 80%; */
        margin-top: 5vw;
        padding: 5rem !important;
    }
    .tab_img {
        height: 1vw;
    }
    #tab_selector {
        font-size: 1vw;
    }
    .feature_rectangle1 {
        width: 21vw;
        height: 11vw;
    }
    .feature_rectangle1 img {
        height: 1vw;
        height: 1.6vw;
        margin: 1vw 0vw 0vw 1vw;
    }
    .feature_text {
        font-size: 1vw;
        color: #9197A4;
        margin: 0%;
        margin: 0vw 0vw 0vw 1vw;
    }
    .feature_rectangle1 h3 {
        font-size: 1.5vw;
        margin: 0;
        margin: 0.8vw 0vw 0.8vw 1vw;
    }
}

@media(width:2560px) {
    .qnatab-a {
        padding: 7px 2rem !important;
    }
}

@media(max-width:630px) {
    .landing {
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
        background-image: url(assets/groupBG.png);
        background-repeat: no-repeat;
        background-size: 100vw 40vw;
        /* background-position: bottom; */
    }
}

@media(max-width:767px) {
    .landing {
        max-width: 100vw;
        height: 100vh;
    }
    .Feature_heading {
        font-size: 4vw !important;
    }
    .feature_subheading {
        font-size: 5vw !important;
    }
}

.logo_and_text {
    display: flex;
    color: #fff;
    justify-content: space-around;
}

.logo {
    margin: 0 1vw;
}

.dashboardbtn {
    border-radius: 28.5px;
    border: #7D35FF 2px solid;
    outline: none;
    padding: 0.5rem 3rem;
    font-size: 1vw;
    color: #ffffff;
    transition: all .3s ease-in;
}

.dashboardbtn:hover {
    
    background-color: #7D35FF;
}

.qnatab-a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #1e1f22;
    padding: 7px 2rem;
    height: 40px;
    min-width: 70px;
    color: white;
    font-size: 0.8vw;
}

.qnatab-menu ul li div {
    cursor: pointer;
}

.qnatab-1 {
    border-radius: 50px 0px 0px 50px;
}

.qnatab-2 {
    border-radius: 0px 50px 50px 0px;
}

.qnatab-container {
    margin-top: 10vh;
    margin-bottom: 10vw;
}

.qnatab-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.Feature {
    margin-bottom: 5vw;
}

.qnatab-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    margin-bottom: 7rem;
}

.qnatab-menu ul li div.active-a {
    background-color: #26282D;
}

.qnatab {
    display: none;
}

.qnatab-active {
    display: block;
}


/* photo and list inside tab */

.feature_image1 {
    margin-top: -220px;
    margin-left: 0;
    margin-right: auto;
    z-index: -1;
}

.feature_image2 {
    margin-top: -220px;
    margin-left: auto;
    margin-right: 0;
    z-index: -1;
}

.feature_img1 {
    width: 50vw;
    display: flex;
}

.feature_img2 {
    width: 50vw;
    display: flex;
}

.feature_subsection {
    display: flex;
    justify-content: space-between;
}

.text_region1 {
    margin-right: 12vw;
    width: 20vw;
    font-size: 1vw;
    color: #fff;
    border: rgba(196, 191, 191, 0.171) 2px solid;
    border-radius: 15px;
    padding: 2rem;
}

#subsection_head1 {
    font-size: 2vw;
}

.text_region2 {
    margin-left: 10vw;
    width: 30vw;
    font-size: 1vw;
    color: #fff;
    border: rgba(196, 191, 191, 0.171) 2px solid;
    border-radius: 15px;
    padding: 2rem;
}

.text_region1 ul {
    display: inline-block;
    padding-inline-start: 0;
    line-height: 30px;
    font-weight: 500;
}

.text_region2 ul {
    display: inline-block;
    padding-inline-start: 0;
}

.text_region1 ul li {
    list-style-Type: none;
    padding: 0 0 4px 23px;
    background: url(./assets/img/Oval.png) no-repeat left center;
    margin-bottom: 1rem;
    color: #9197A4;
}

.text_region2 ul li {
    list-style-Type: none;
    padding: 0 0 4px 23px;
    background: url(./assets/img/Oval.png) no-repeat left center;
    margin-bottom: 1rem;
    color: #9197A4;
}

.clearfix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;
}

.feature_grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    /* margin: 0px auto; */
    margin-top: 2rem;
    margin-left: 9vw;
    margin-right: 7vw;
    background-color: #1D1E21;
    border-radius: 12px;
}

.feature_rectangle1 {
    display: block;
    justify-content: center;
    padding: 2rem;
    background: #242329;
    width:35vw;
    /*box-shadow: 4px 4px 100px 10px rgba(0, 0, 0, 0.25);*/
    border-radius: 11px;
    margin-bottom: 2.5rem;
    color: #eeeddf;
}

@media(max-width:767px) {
    .feature_rectangle1 {
        width: 74vw;
    }
}

@media(width:768px) {
    .feature_rectangle1 {
        width: 32vw;
    }
}

.Feature_heading {
    font-size: 1vw;
}

@media screen and (width: 1024px),
screen and (height: 1366px) {
    .Feature_heading {
        font-size: 2vw;
    }
}

.Feature_heading::before {
    background-color: #7D35FF;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 3%;
    margin-right: 5px;
    right: 0px;
}

.feature_subheading {
    color: #fff;
    font-size: 3vw;
}

.clearfix1 {
    margin: 0 10vw;
    color: #7D35FF;
}

.details {
    margin-left: 10vw;
    width: 40vw;
}

/* #site {} */

.site_logo {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 1rem;
    height: 150px;
}

@media(max-width: 767px) {
    .site_logo {
        height: 100px;
    }
}

.modal_btn {
    background: #26282D;
    color: aliceblue;
    padding: 1.2rem 1.5rem;
    border-radius: 32px;
    font-weight: 600;
    width: 135px;
    margin: 50px auto;
}

#subsection_head2 {
    font-size: 2vw;
}

.text_region2 {
    width: 20vw;
}


/* modal code starts here */

#myBtn {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #141517;
    color: #fff;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 2.5rem;
    background-color: #141517;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.modal-body-ul {
    width: 33%;
}

.modal-body ul {
    display: block;
}

.modal-body ul li {
    background: url(./assets2/Oval9.png) no-repeat left center;
    padding: 16px 16px;
}

@media(max-width:767px) {
    .modal {
        padding-top: 5vh;
    }
    .modal-content {
        width: 90%;
    }
    .modal-header {
        padding: 2px 1rem;
    }
    .modal-body {
        margin-bottom: 2rem;
    }
    .modal-body ul {
        padding-inline-start: 4vw;
        margin-block-start: 0px;
    }
    .modal-body ul li {
        padding: 10px 16px;
    }
}


/* modal code ends here */

.footer {
    width: 80%;
    margin: 3rem auto;
    color: #9197A4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-inner {
    width: 150px;
}

.footer-ul {
    display: block;
    color: #9197A4;
}
.footer-ul li:hover{
    color: white;
}
.footer-ul li {
    margin-bottom: 0.7rem;
    white-space: nowrap;
    
}
.footer-ul li a{
    color: #9197A4;
}
.footer-ul li a:hover{
    color: white;
}
@media(max-width:767px) {
    .footer-inner {
        margin-bottom: 20px;
        width: 120px;
    }
    .footer-ul {
        padding-inline-start: 0px;
        margin-block-start: 0px;
    }
    
}

@media(max-width:767px) {
    .feature_subsection {
        display: flex;
        flex-direction: column;
    }
    .feature_img1 {
        display: flex;
        margin: 0px;
    }
    #tab_selector {
        font-size: 3vw;
    }
    #reverse {
        flex-direction: column-reverse;
    }
    #feature_image1 {
        width: 80vw;
    }
    .feature_img2 {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        align-self: center;
        margin: 0px;
    }
    #subsection_head1 {
        font-size: 5vw;
    }
    #second_container {
        margin-top: 0;
    }
    .text_region1 {
        width: 50vw;
    }
    .text_region1 ul li {
        font-size: 3vw;
    }
    .landing {
        display: flex;
        flex-direction: column;
    }
    .text_region2 {
        width: 50vw !important;
    }
    #subsection_head2 {
        font-size: 5vw;
    }
    .ui {
        width: 100vw;
        display: flex;
        justify-content: flex-end;
    }
    .UI {
        width: 140vw;
    }
    .qnatab-a {
        padding: 5px 1.2em;
    }
    #alt {
        margin: 0px;
    }
    .feature_image1 {
        max-width: 100vw;
    }
    .feature_image2 {
        max-width: 100vw;
    }
    .primary_text {
        font-size: 8vw;
    }
    .faqcontent {
        margin-top: 20vw;
        display: flex;
        flex-direction: column;
    }
    .text_container {
        display: flex;
        justify-content: center;
    }
    .feature_grid {
        padding: 0px;
    }
    .text_region1 {
        margin-right: 0;
    }
    .text_region2 {
        width: 55vw;
        margin-left: 0;
        margin: 6vw 0vw;
    }
    #feature_image1 {
        width: 100vw;
    }
    .feature_img2 {
        width: 98vw;
    }
    .text_region2 h3 {
        font-size: 6vw;
    }
    .text_region2 ul li {
        font-size: 3vw;
    }
    .logo > img{
        height: 8.5vw;
    }
}

@media(max-width:767px) {
    /* mobile navbar code  */
    .mobnav {
        display: none;
    }
    .mobnav ul li {
        margin: 0px;
    }
    .FAQ_with_kutta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav {
        display: none;
    }
    .mobnav {
        position: absolute;
        left: 0;
        width: 100%;
    }
    .mobnav {
        height: 70px;
        display: flex;
    }
    .mobnav .logo {
        position: absolute;
        margin-top: 4vh;
        margin-left: 3vh;
    }
    .details {
        /* margin-top: 20%; */
        margin-top: 50vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .secondary_text{
        margin-bottom: 1.5rem;
        
    }
    .soldout_btn{
    margin-bottom: 1.5rem;
    }
    .qnatab-container{
        margin-top: 20vh;
    }
    .movnav {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        -webkit-transition: all 0.5s ease-out, background 1s ease-out;
        transition: all 0.5s ease-out, background 1s ease-out;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
        z-index: 1;
    }
    .mobnav .burger-container {
        position: absolute;
        right: 1rem;
        display: inline-block;
        height: 50px;
        width: 50px;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    .mobnav .burger-container #burger {
        width: 24px;
        height: 8px;
        position: relative;
        display: block;
        margin: -4px auto 0;
        top: 80%;
    }
    .mobnav .burger-container #burger .bar {
        width: 100%;
        height: 1px;
        display: block;
        position: relative;
        background: #fff;
        -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .mobnav .burger-container #burger .bar.topBar {
        -webkit-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
    }
    .mobnav .burger-container #burger .bar.btmBar {
        -webkit-transform: translateY(6px) rotate(0deg);
        transform: translateY(6px) rotate(0deg);
    }
    .mobnav .icon {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .mobnav .icon.icon-bag {
        right: 0;
        top: 0;
        left: auto;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transition-delay: 0.65s;
        transition-delay: 0.65s;
    }
    .mobnav ul.menu {
        margin: auto 0px;
        position: relative;
        padding: 0px 24px;
        list-style: none;
        z-index: -1;
        transform: translateX(-770px);
        width: 100vw;
        text-align: center;
    }
    .visible {
        z-index: 1 !important;
        display: block !important;
        transform: translateX(0px) !important;
    }
    .menu .login {
        box-shadow: none;
    }
    .mobnav ul.menu li.menu-item {
        margin-top: 5px;
        -webkit-transform: scale(1.15) translateY(-30px);
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }
    .mobnav ul.menu li.menu-item:nth-child(1) {
        -webkit-transition-delay: 0.49s;
        transition-delay: 0.49s;
    }
    .mobnav ul.menu li.menu-item:nth-child(2) {
        -webkit-transition-delay: 0.42s;
        transition-delay: 0.42s;
    }
    .mobnav ul.menu li.menu-item:nth-child(3) {
        -webkit-transition-delay: 0.35s;
        transition-delay: 0.35s;
    }
    .mobnav ul.menu li.menu-item:nth-child(4) {
        -webkit-transition-delay: 0.28s;
        transition-delay: 0.28s;
    }
    .mobnav ul.menu li.menu-item:nth-child(5) {
        -webkit-transition-delay: 0.21s;
        transition-delay: 0.21s;
    }
    .mobnav ul.menu li.menu-item:nth-child(6) {
        -webkit-transition-delay: 0.14s;
        transition-delay: 0.14s;
    }
    .mobnav ul.menu li.menu-item:nth-child(7) {
        -webkit-transition-delay: 0.07s;
        transition-delay: 0.07s;
    }
    .mobnav ul.menu li.menu-item a {
        display: block;
        position: relative;
        color: #fff;
        font-weight: 100;
        text-decoration: none;
        font-size: 22px;
        line-height: 2.35;
        font-weight: 200;
        width: 100%;
    }
    .mobnav.menu-opened {
        height: 100vh;
        position: fixed;
        background-color: black;
        -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s;
        z-index: 100;
    }
    .mobnav.menu-opened .burger-container {
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .mobnav.menu-opened .burger-container #burger .bar {
        -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .mobnav.menu-opened .burger-container #burger .bar.topBar {
        -webkit-transform: translateY(4px) rotate(45deg);
        transform: translateY(4px) rotate(45deg);
        margin-left: 1rem;
    }
    .mobnav.menu-opened .burger-container #burger .bar.btmBar {
        -webkit-transform: translateY(3px) rotate(-45deg);
        transform: translateY(3px) rotate(-45deg);
        margin-left: 1rem;
    }
    .mobnav.menu-opened ul.menu li.menu-item {
        -webkit-transform: scale(1) translateY(0px);
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(1) {
        -webkit-transition-delay: 0.27s;
        transition-delay: 0.27s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(2) {
        -webkit-transition-delay: 0.34s;
        transition-delay: 0.34s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(3) {
        -webkit-transition-delay: 0.41s;
        transition-delay: 0.41s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(4) {
        -webkit-transition-delay: 0.48s;
        transition-delay: 0.48s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(5) {
        -webkit-transition-delay: 0.55s;
        transition-delay: 0.55s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(6) {
        -webkit-transition-delay: 0.62s;
        transition-delay: 0.62s;
    }
    .mobnav.menu-opened ul.menu li.menu-item:nth-child(7) {
        -webkit-transition-delay: 0.69s;
        transition-delay: 0.69s;
    }
    .mobnav.menu-opened .icon.icon-bag {
        -webkit-transform: translateX(75px);
        transform: translateX(75px);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
   
}

@media(width:768px) and (height:1024px) {
    .feature_subsection {
        display: flex;
        flex-direction: column;
    }
    .FAQ_with_kutta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature_img1 {
        display: flex;
        margin: 0px;
    }
    #tab_selector {
        font-size: 2vw;
    }
    #reverse {
        flex-direction: column-reverse;
    }
    #feature_image1 {
        width: 80vw;
    }
    .feature_img2 {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        align-self: center;
        margin: 0px;
    }
    #subsection_head1 {
        font-size: 5vw;
    }
    #second_container {
        margin-top: 0;
    }
    .text_region1 {
        width: 50vw;
    }
    .text_region1 ul li {
        font-size: 3vw;
    }
    .landing {
        display: flex;
        flex-direction: column;
    }
    .text_region2 {
        width: 50vw !important;
    }
    #subsection_head2 {
        font-size: 5vw;
    }
    .ui {
        width: 100vw;
        display: flex;
        justify-content: flex-end;
    }
    .UI {
        width: 111vw;
    }
    .qnatab-a {
        padding: 5px 0.5em;
    }
    #alt {
        margin: 0px;
    }
    .feature_image1 {
        max-width: 100vw;
    }
    .feature_image2 {
        max-width: 100vw;
    }
    .primary_text {
        font-size: 8vw;
    }
    .faqcontent {
        margin-top: 20vw;
        display: flex;
        flex-direction: column;
    }
    .text_container {
        display: flex;
        justify-content: center;
    }
    .feature_grid {
        padding: 0px;
    }
    .text_region1 {
        margin-right: 0;
    }
    .text_region2 {
        width: 55vw;
        margin-left: 0;
        margin: 6vw 0vw;
    }
    #feature_image1 {
        width: 80vw;
    }
    .text_region2 h3 {
        font-size: 6vw;
    }
    .text_region2 ul li {
        font-size: 3vw;
    }
    .landing {
        height: 90vh;
    }
    .qnatab-container{
        margin-top:20vw;
    }
    .details{
        margin-right: 15vw;
    }
    .Feature_heading {
        font-size: 2vw;
    }
    .feature_grid {
        /* width: 28vw; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2rem;
        padding: 0;
    }
    .feature_rectangle1 {
        width: 28vw;
        margin-right:5%;
    }
    .feature_text {
        color: #9197A4;
    }
}

.accordian {
    width: 45vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.accordian-item {
    border: 1px solid #242329;
    color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 43vw;
}

@media(max-width:768px) {
    .accordian {
        width: auto;
    }
    .accordian-item {
        width: 80vw;
    }
}

.accordian-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordian-item-header::after {
    content: url("./assets2/plus-circle.svg");
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    /* transition: all 0.2s ease; */
}

.accordian-item-header.active::after {
    content: url("./assets2/uparrow.svg");
}

.accordian-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordian-item-body-content {
    padding: 1rem;
    line-height: 1.5;
}

.accordian-item-body-content p {
    color: #827F7F;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .landing_with_bg{
        margin-top:25vw;

    }
    .mainTitle{
        font-size: 3vw;
    }
    .qnatab-container{
        margin-top:60vw;

    }
}

.FAQ {
    background-color: #18191B;
    margin-top: 100px;
    padding-top: 50px;
}

.FAQ_with_kutta {
    display: flex;
    margin: 0 10vw;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.kuttar_baccha {
    max-height: 25vw;
}
@media(min-width: 1024px) and (max-width: 1350px) {
    .feature_subsection {
        flex-direction: column;
    }
    .text_container{
        align-self: center;
    }
    .feature_img2 {
        margin-left: 30vw;
        margin-top: 5vw;
    }
    .feature_rectangle1 {
        width: 30vw;
    }
    .UI{
    width: 62vw;
    height: 50vw;
    }
   

}
@media(min-width: 768px) and (max-width: 1024px) {
    .text_region1 {
        margin-right: 0vw;
        width: 59vw;
        font-size: 2vw;
        margin-top: 10vw;
    }
    .text_region2{
        margin-left: 0vw;
        width: 59vw;
        font-size: 2vw;
    }
    .feature_img2 {
        margin-top: 10vw;
    }
}
@media (max-width: 767px) {
    #tab_selector {
        margin-left: 0px;
    
    }
    .details {
        margin-left: 10vw;
        width: 60vw;
    }
    .landing_with_bg {
        margin-top: 30vw;
    }
    .UI {
        width: 100vw;
    }
    .Feature {
        margin-top: 75vw;
        margin-bottom: 5vw;
    }
}
@media(min-width: 768px) and (max-width: 1023px) {
    .details {
        margin-left: 20vw;
        width: 80vw;
    }
    .landing_with_bg {
        margin-top: 30vw;
    }
    .UI {
        width: 80vw;
    }
    .Feature {
        margin-top: 20vw;
        margin-bottom: 5vw;
    }
}
@media(width:1024px) and (height:1080px) {
    .UI {
        width: 50vw;
        margin-right: -5vw;
    }
    .details {
        margin-left: 10vw;
        width: 35vw;
    }
}
@media(min-width:1024px) and (max-width:1919px) {
    .landing_with_bg {
        margin-top: 5vw;
    }
    .Feature {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
}